PORT=8082
CLICK_HEADLESS=false
CLICK_BASE_URL=https://plataformaclick.com.br
CLICK_USERNAME=
CLICK_PASSWORD=
CLICK_DEFAULT_CPF=10304987506
ALLOWED_ORIGIN=https://vendas-211b4.web.app,http://localhost:5173